.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.row {
    display: flex;
    gap: 5px;
}

.box {
    width: 150px;
    height: 150px;
    background-color: purple;
    color: black;
    font-size: 100px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}
